.forms {
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 1rem;
  height: 80vh;
  min-width: 30%;

  p:not(:first-child) {
    padding-top: 1.5rem;
  }

  &__container p {
    font-size: 1.5rem;
    margin-top: 2rem;
  }

  & p input {
    font-size: 15px;
    background-color: #e6e6e6;
    border: 2px solid #005745;
    border-radius: 5px;
    padding: 5px 3px 5px 10px;
    margin-top: 6px;
  }

  & p input:focus,
  & p input:hover {
    background-color: #fff;
    border: 2px solid #005745;
  }

  &__submit {
    margin-top: 1.8rem;
    padding: 1rem 2rem;
    color: #fff;
    text-transform: uppercase;
    background-color: #005745;
    border-radius: 7px;
    cursor: pointer;
  }

  &__submit:hover {
    background-color: #0c7560;
  }
}
